
  <div class="confirmation-container">
    <div class="confirmation-content">
        <img src="../../../../assets/img/check.png" alt="Success Icon" class="success-icon">
        <!-- <i class="fa fa-person success-icon"></i> -->
        <h2>Success!</h2>

        <div class="d-flex aligns-items-center justify-content-center card text-center w-75 mx-auto">
          
            <div class="card-body">
              <h3 class="card-title">Your transaction id is <b>{{transactionId}}</b></h3>
              <p class="card-text">Your transaction Id is important.Please save it for future reference.Your payment has been successfully processed. Thank you for shopping with us.</p>
              <button class="btn btn-dark" (click)="shopAgain()">Shop again !!!</button>
            </div>
          </div>

    </div>
</div>