<div class="container card-wrapper">
    <mat-card class="prod-card">
        <mat-card-header>
          <mat-card-title>Products</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>{{products.length}}</h1>
          </mat-card-content>
      </mat-card>
      <mat-card class="cust-card">
        <mat-card-header>
          <mat-card-title>Customers</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>{{categories.length}}</h1>
          </mat-card-content>
      </mat-card>
      <mat-card class="cat-card">
        <mat-card-header>
          <mat-card-title>Categories</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>{{users.length}}</h1>
          </mat-card-content>
      </mat-card>
      <mat-card class="order-card">
        <mat-card-header>
          <mat-card-title>Orders</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <h1>{{products.length}}</h1>
          </mat-card-content>
      </mat-card>
    </div>
