<div class="main-bg">
    <div class="login-container text-c animated flipInX">
        <div>
            <h1 class="logo-badge text-whitesmoke"><span class="fa fa-user-circle"></span></h1>
        </div>
        <h3 class="text-whitesmoke">Sign Up</h3>
        <div class="container-content">
            <form [formGroup]="registrationForm" class="margin-t">
                <div class="form-group">
                    <input type="text" formControlName="fname" name="fname" autocomplete="fname"
                        class="form-control mb-2" placeholder="Full Name" required="">
                </div>
                <div class="form-group">
                    <input type="text" formControlName="phone" name="phone" autocomplete="phone"
                        class="form-control mb-2" placeholder="Phone Number" required="">
                </div>
                <div class="form-group">
                    <input type="password" name="password" autocomplete="password" formControlName="password"
                        class="form-control mb-2" placeholder="*****" required="">
                </div>
                <button type="submit" (click)="register()" class="form-button button-l mt-2 margin-b">Sign Up</button>
                <p class="text-white text-center"><small>Do not have an account?</small><a routerLink="/user/login"
                        class="text-darkyellow"><small> Sign In</small></a></p>
            </form>
        </div>
    </div>
</div>