
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

.member-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: inline-block;
    width: 300px;
    text-align: left;
}

.member-card:hover {
    transform: scale(1.05);
}

h3 {
    color: #333;
}

p {
    margin: 10px 0;
    color: #666;
}

.responsibilities, .skills {
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

img {
    border-radius: 50%;
    max-width: 130px;
    margin-bottom: 10px;
    align-items: center;
    margin-left:87px
    
}
