<div class="container">
    <h1 class="heading mt-2">Add Product</h1>
    <div class="parent">
        <form [formGroup]="catForm" class="margin-t">
            <div class="form-group mb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input formControlName="name" matInput placeholder="Enter Name">
                    <mat-icon matSuffix>person</mat-icon>
                    <mat-error *ngIf="catForm.controls.name.touched && catForm.controls.name.errors?.required">
                        Name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group mb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Price</mat-label>
                    <input formControlName="price" type="number" matInput placeholder="Enter Price">
                    <mat-icon matSuffix>money</mat-icon>
                    <mat-error *ngIf="catForm.controls.price.touched && catForm.controls.price.errors?.required">
                        Price is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group mb-2">
                    <!-- <mat-label>Photo</mat-label>
                    <input formControlName="photo" (change)="onFileChange($event)"  type="file" placeholder="Upload photo">
                    <mat-icon matSuffix>insert_photo</mat-icon>
                    <mat-error *ngIf="catForm.controls.photo.touched && catForm.controls.photo.errors?.required">
                        Photo is required
                    </mat-error> -->

                    <mat-form-field appearance="outline">
                        <mat-label>Photo</mat-label>
                        <ngx-mat-file-input [accept]='accept' formControlName="photo">
                        </ngx-mat-file-input>
                        <!-- <input type="file" class="custom-file-input" id="photo" formControlName="photo" (change)="handleFileInput($event)">
                        <label class="custom-file-label" for="photo">{{fileToUpload ? fileToUpload.name : "Choose File"}}</label> -->
                        <mat-hint>Image files</mat-hint>
                      </mat-form-field>
                      <mat-error *ngIf="catForm.controls.photo.touched && catForm.controls.photo.errors?.required">
                        Photo is required
                    </mat-error>

            </div>
            <div class="form-group mb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Choose a category</mat-label>
                    <mat-select formControlName="category">
                        <mat-option *ngFor="let cat of categories" value="{{cat._id}}">{{cat.name}}</mat-option>
                      </mat-select>
                    <mat-icon matSuffix>select_all</mat-icon>
                    <mat-error *ngIf="catForm.controls.category.touched && catForm.controls.category.errors?.required">
                        Category is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="form-group mb-2">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput placeholder="Enter description"></textarea>
                    <mat-icon matSuffix>description</mat-icon>
                    <mat-error *ngIf="catForm.controls.description.touched && catForm.controls.description.errors?.required">
                        Description is required
                    </mat-error>
                </mat-form-field>
            </div>
            <button mat-raised-button class="mt-2" (click)="addProduct()">Save</button>
        </form>
    </div>
</div>