@import url('../../../../../assets/vendor/swiper/swiper-bundle.min.css');
@import url('../../../../../assets/vendor/nouislider/nouislider.min.css');
@import url('../../../../../assets/css/style.default.css');